<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="img/fevicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>TechHub</title>
    {{> link}}

</head>

<body class="sub_page">

    {{> header}}
    <div class="container">
        <h1 class="text-primary">Edit Profile</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                        class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>Upload a different photo...</h6>

                    <input type="file" class="form-control">
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <strong>{{message}}</strong>
                </div>
                <h3>Personal info</h3>
                <form class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Full name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="username" value={{user.user_fullname}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input id="email" class="form-control" type="text" name="email" value={{user.user_email}}>
                        </div>
                        <div class="error">{{error}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Telephone:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="telephone" value={{user.user_tel}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Address:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="address" value="{{user.user_address}}">
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-left">
                                <button class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" role="form" method="post" action="profile/password">
                     <div class="form-group">
                        <label class="col-lg-3 control-label">Current password:</label>
                        <div class="col-lg-8">
                            <input id = class="form-control" type="password" name="currPassword" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">New password:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="password" name="newPassword" value="">
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-left">
                                <button class="btn btn-primary">Update password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
    {{> footer}}
    {{> script}}
    <script>
        $('#email').on('input', function () {
            const emailInput = $(this);
            $.getJSON('/profile/check-email-exist/' + this.value, function (isExist) {
                if (isExist) {
                    emailInput.addClass('is-invalid');
                    emailInput.removeClass('is-valid');
                    $('.error').html('Email already exist');
                } else {
                    emailInput.addClass('is-valid');
                    emailInput.removeClass('is-invalid');
                    $('.error').html('');
                }
            });
        });
    </script>
</body>

</html>